div {
	
	padding:3px;
	max-width:300px;
}
.reminder {
	background-color: rgb(242,242,242);
}
.reminder, .add_reminder{
	border: none;
	margin: 2px;
	padding:10px;
	padding-left:3px;
}
.reminder p, .reminder input{
	display:inline;
}
div.main {
	background-color: rgb(191,191,191);
	border:1px solid grey;
	box-shadow: 5px 5px 30px 2px rgb(200,200,200);
}

input.add_tb, button.add_btn {
	display:inline;
}

button{
	background-color: #4caf50;
	color: white;
	height: auto;
	width: 60px;
	padding:2px;
}
div.notes {
	background-color: rgb(242,242,242);
}